<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\instant_quizzer_backend.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <!-- If using outofprocess hosting, use the following line instead -->
      <!-- <aspNetCore processPath=".\instant_quizzer_backend.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess"/> -->
    </aspNetCore>
  </system.webServer>
</configuration>
